.contenedor{
    background-color: gray;
    height: 700px;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor1{
    background-color: pink;
    height: 670px;
    width: 300px;
    float: left;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor2{
    background-color: violet;
    height: 670px;
    width: 300px;
    float: inline-start;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor3{
    background-color: salmon;
    height: 670px;
    width: 300px;
    float: inline-end;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja1{
    background-color: red;
    height: 90px;
    width: 90px;
    margin: 5px;
    float: inline-start;
}
.caja2{
    background-color: chocolate;
    height: 90px;
    width: 90px;
    margin: 5px;
    float: inline-start;
}
.caja3{
    background-color: orange;
    height: 90px;
    width: 90px;
    margin: 5px;
    float: inline-end;
}
.caja1-1{
    background-color: yellow;
    height: 100px;
    width: 290px;
    margin: 5px;
    float: inline-start;
}